html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

:global(#__next) {
  width: 100%;
  height: 100%;
}

:local(.eight) {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: Arial;
}

:local(.eight h1) {
  display: none;

  font-size: 90vh;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
}
